[tool.poetry]
name = "types-confluent-kafka"
version = "0.1.0"
description = ""
authors = ["benbenbang <bn@bitbrew.dev>"]
license = "Apache2"
readme = "README.md"
packages = [
    { include = "confluent_kafka-stubs" }
]
exclude = [
    "confluent_kafka-stubs/__init__.py"
]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.group.dev.dependencies]
confluent-kafka = "^2.2.0"
pyright = "^1.1.321"
mypy = "^1.5.0"

[tool.poetry.group.lint.dependencies]
pylint = "^2.17.5"
ruff = "^0.0.284"
pre-commit = "^3.3.3"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
pytest-mock = "^3.11.1"
pytest-cov = "^4.1.0"

[tool.poetry.group.publish.dependencies]
twine = "^4.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.format]
max-line-length = 120

[tool.pylint.messages_control]
disable = [
    "all"
]
enable = [
    "consider-using-f-string",
    "cyclic-import",
    "deprecated-module",
    "f-string-without-interpolation",
    "import-error",
    "import-self",
    "undefined-variable",
    "undefined-all-variable",
    "unused-format-string-argument",
    "unused-format-string-key",
    "unused-import",
#   This might be unused but a mandatory signature in airflow runtime
#   "unused-argument",
    "unused-wildcard-import",
    "unused-variable",
    "used-before-assignment",
    "use-list-literal",
    "raise-missing-from",
    "simplifiable-condition",
    "simplify-boolean-expression",
    "super-with-arguments",
    "wrong-spelling-in-comment",
    "wrong-spelling-in-docstring",
]

[tool.pylint.format]
max-line-length = 120

[tool.pytest.ini_options]
addopts = '--basetemp=/tmp/pytest'
# switch on `-s` for deep debuging
# addopts = '-s --basetemp=/tmp/pytest'

filterwarnings = []

testpaths = []

markers = [
    "unittests: run unittests",
    "integrationtests: run integrationtests",
    "loadtests: run datapi loadtests",
]

[tool.mypy]
ignore_missing_imports=true
warn_unreachable=true

[tool.black]
exclude = '''
(\
  | .venv
  | .cache
)/
'''
